rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /jobs/{jobId} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}

